.hero-unit h1
{
    font-size: 4em;
    margin-bottom: 16px;
}

.hookpunch
{
    color: red;
}

.text-block-image
{
    vertical-align: text-top;
    margin-right: 8px;
}

.center-content
{
    padding-left: 32px;
}

.center-content > .span4
{
    height: 180px;
    min-height: 180px;
}
.center-content > .span4 > .btn
{
    position: relative;
    display: inline-block;
    left: 0px;
    bottom: 0px;
}

.feature-list
{
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #eee !important;
    padding: 16px;
}

.feature-list li
{
    font-size: 1.2em;
    line-height: 1.5em;
}
